@import url(//db.onlinewebfonts.com/c/f4d1593471d222ddebd973210265762a?family=Pokemon);

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("https://p4.wallpaperbetter.com/wallpaper/933/827/743/pokemon-pixel-art-wallpaper-preview.jpg");
  background-size:contain;
  font-family: "Pokemon", sans-serif;
}


main {
  display: flex;
  margin-bottom: 1rem;
  margin-left: auto;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  margin: auto;
}

/* h1 {
  font-size: 6rem;
  color: whitesmoke;
  text-shadow: 5px 5px black;
  
} */

header img {
  width: 500px;
  margin: auto;
  
}

h5{
  text-align: center;
  font-weight: bold;
  letter-spacing: 5px;
  text-shadow: 1px 3px 4px rgba(37,37,37,0.61);
}



.card {
  width: 20%;
  min-width: 13rem;
  margin: 1rem;
  border-radius: 6px;
  box-shadow: 2px 2px 2px whitesmoke;
  background-color: #faebd7;
  
}

.card:hover {
  box-shadow: 5px 5px 5px whitesmoke;
  
}

.card img {
  width: auto;
  margin: 0 auto;
  height: 80%;
}

.card-text{
  text-align: center;
}

.contenedor-barra {
  width: 95%;
  height: 15px;
  border: 2px solid black;
  margin: 0.2rem auto;
  border-radius: 20px;
  display: flex;

}

.contenedor-barra:hover{
  box-shadow: 2px 2px 2px #252525;
  cursor: auto;
}

.contenedor-barra div {
  border-radius: 20px 0px 0px 20px;
}

.button_plus {
  position: absolute;
  margin-top: -125px;
  width: 45px;
  height: 45px;
  background: #faebd7;
  cursor: pointer;
  border: 2px solid #cfb490;
  border-radius: 50%;
  font-size: 1rem;
  font-weight: bold;
  


  /* Mittig */
  top: 50%;
  left: 50%;
}

.button_plus:hover {
  box-shadow: 2.5px 2.5px 2.5px whitesmoke;
  transition: 0.2s;
}


.verde {
  background-color: lightgreen;
  height: 100%;
}

.rojo {
  height: 100%;
  background-color: red;
}

.amarillo {
  height: 100%;
  background-color: yellow;
}
